body {
    margin: 0;
    padding: 0;
}

.container {
    width: min(90ch - 20rem);
    margin-inline: auto;
    font-size: 1.5rem;
}

header {
    display: grid;
    justify-items: center;

    & p{
        text-align: center;
    }

    & img{
        width: 100%;
        max-width: 30rem;
    }
}
